* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
}

.nav .menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border: 1px solid black;
  width: 300px;
  padding: 10px;
  margin: 10px 0 0 10px;
}

.cart-button {
  height: 40px;
  width: 90px;
  margin: 10px 0 0 10px;
}

header input {
  height: 36px;
  margin: 10px 0 0 10px;
}

main .featuredFlexContainer {
  width: 1139px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  margin: 20px auto 0;
}
main .featuredFlexContainer .featuredFlexChild {
  position: relative;
  width: 261px;
  height: 364px;
}
main .featuredFlexContainer .featuredFlexChild .featuredProductHover {
  background-color: rgba(58, 56, 56, 0.83);
  position: absolute;
  bottom: 84px;
  width: 261px;
  height: 280px;
  display: none;
}
main .featuredFlexContainer .featuredFlexChild .featuredProductHover button {
  width: 123px;
  height: 39px;
  margin: 94px 70px 144px;
  background: rgba(0, 0, 0, 0) url('img/cart2.png') no-repeat 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 39px;
  cursor: pointer;
}
main .featuredFlexContainer .featuredFlexChild .featuredProductHover button span {
  padding-left: 20px;
}
main .featuredFlexContainer .featuredFlexChild:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
main .featuredFlexContainer .featuredFlexChild:hover .featuredProductHover {
  display: block;
}
main .featuredFlexContainer .featuredFlexChild:hover .featuredProductText h6 {
  display: block;
}
main .featuredFlexContainer .featuredFlexChild .featuredProductText {
  margin: 20px 0 17px 14px;
}
main .featuredFlexContainer .featuredFlexChild .featuredProductText .featuredProductName {
  color: #222;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 17px;
}
main .featuredFlexContainer .featuredFlexChild .featuredProductText .featuredProductPrice {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
}
main .featuredFlexContainer .featuredFlexChild .featuredProductText h6 {
  float: right;
  color: #e4af48;
  font-size: 15px;
  font-weight: 400;
  display: none;
  margin-right: 10px;
}

main .error {
  font-size: 24px;
  margin: 30px;
}

main .cartWrapper {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0 0 30px;
  width: 400px;
}
